###SublimeText###

# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# sftp configuration file
sftp-config.json

##Unity##
# Unity3D generated meta files
*.pidb.meta
*.pdb.meta

*.sublime-project.meta
*.sublime-workspace.meta
